[submodule "libs/logger"]
	path = libs/logger
	url = https://github.com/kzueirf12345/logger.git
[submodule "libs/stack_on_array"]
	path = libs/stack_on_array
	url = https://github.com/kzueirf12345/stack_on_array.git
[submodule "libs/SPlU"]
	path = libs/SPlU
	url = https://github.com/kzueirf12345/SPlU.git
[submodule "libs/hash_table"]
	path = libs/hash_table
	url = https://github.com/kzueirf12345/hash_table.git
[submodule "libs/PYAM_IR"]
	path = libs/PYAM_IR
	url = https://github.com/kzueirf12345/PYAM_IR
